<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create de TipoProduto</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <form method="post" action="/tipoproduto">
        <div>
            <label for="id-input-id">ID</label>
            <input type="text" id="id-input-id" disabled>
        </div>
        <div>
            <label for="id-input-descricao">Descrição</label>
            <input type="text" name="descricao" id="id-input-descricao" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>